#friends-display-link {
	background-color: whitesmoke;
	padding: 15px 0px;
	display: block;
	width: 100%;
	text-align: center;
}
#friends-display-link i {
	margin: 0px 10px;
	color: rgba(0, 0, 0, 0.3);
}
